.container {
  display: grid;
  color: #333;
  text-align: center;
  padding: 7rem;

  &__title {
    font-size: 5rem;
  }

  &__subtitle {
    margin: 2rem 0;
  }

  &__link {
    color: #333;
    text-decoration: underline;
  }
}