.container {
  &__list {   
    &__item {
      padding-top: 1.3rem;
      padding-bottom: 1.1rem;
      border-radius: 5px;

      @media screen and (max-width: 1024px) { 
        padding: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
