.container {
    background-color: #FBFBFB;
    border-radius: 5px;

    .customTooltip {
        background-color: #E60000;

        &__text {
            color: white;
            padding: 0.5rem;
            text-align: center;
            font-size: 10px;
            font-weight: 500;
            line-height: 24px;
        }
    }
}